  /* FORMATTING */
  .align-center {
      text-align: center;
  }
  body {
      background-color: #16111f;
      height: 100vh;
      color: white;
      font-family: 'Ubuntu Mono', monospace, Arial;
      font-weight: 400;
  }
  .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }
  .container {
      height: 100%;
      position: relative;
  }
  .container-2 {
      height: 40vh;
      min-height: 300px;
      position: relative;
  }
  .flex-container {
      flex-direction: row;
      display: flex;
      width: 100%;
  }
  .frosted-container {
      background: rgba(39, 32, 51, 0.5);
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      .frosted-container {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
      }
  }
  .offset {
    margin-top: -76px;
    height: 100vh;
  }

  /* HOME BUTTONS */
  .home-buttons {
      margin-left: auto;
      margin-right: 0;
      width: fit-content;
  }
  .btn-get-started,
  .btn-get-started:active,
  .btn-get-started:active:focus,
  .btn-get-started:focus {
      background-color: #ebba34;
      color: #16111f;
      box-shadow: none;
      border-color: rgba(0, 0, 0, .125);
      margin-top: 10px;
  }
  .btn-get-started:hover {
      background-color: #bd8035;
      color: white;
      box-shadow: none;
      border-color: rgba(0, 0, 0, .125);
  }
  .btn-parent-site {
      margin-right: 10px;
      margin-top: 10px;
  }

  /* HEADER */
  .App-logo {
      pointer-events: none;
      max-height: 50px;
  }
  .App-header {
      height: 100vh;
      min-height: 252px;
      background-image: url('/images/conways.gif');
  }
  .home-div {
      height: 100%;
  }
  .home-description-div,
  .home-image-div {
      flex-basis: 100%;
  }
  .title {
      margin: 0;
      font-size: 1.3rem;
      font-weight: bold;
  }
  .description {
      margin: 0;
  }
  .logo-svg {
      width: 100%;
      display:block;
      margin:auto;
      pointer-events: none;
  }

  /* ABOUT SECTION */
  .disclaimer {
      margin-top: 10px;
      font-size: .8rem;
      font-style: italic;
  }
  .about-discord, .about-portfolio {
      height: 40vh;
      min-height: 300px;
  }
  .about-host-icons .font-awesome, .socials-icons .fab {
      margin: 40px;
      font-size: 3rem;
      color: #ebba34;
  }

  .socials-icons .fab {
      color: #16111f;
  }

  .socials-icons .fab:hover {
    color: #301c4a;
  }

  .about-discord-icons .fa-discord, .fa-folder-open {
      font-size: 7rem;
      color: #ebba34;
  }
  .about-discord-text, .about-portfolio-text, .about-discord-icons, .about-portfolio-icons {
      flex-basis: 100%;
  }

  .qna-div, .socials {
    background-color: #bd8035;
    color: #16111f;
  }
  #support {
      width: 100%;
      height: 100%;
  }