#App-navigation {
  height: 76px;
}

.App-logo {
  pointer-events: none;
  max-height: 50px;
}

.navbar {
  z-index: 1;
}

.container-fluid {
  width: 100%;
}

.navbar-light {
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu Mono', monospace, Arial;
  font-size: 1.2rem;
}

.nav-link:hover, .nav-link:active {
  color: #ebba34;
}

.fa-bars {
  color:#fff; 
  font-size:28px
}

.fa-bars {
  color:#ebba34;
  font-size:28px
}

.navbar-toggler:focus,
.navbar-toggler:active,
.fa-bars:focus {
    outline: none;
}

@media (max-width: 1000px) {
  nav.navbar {
    background: black;
    border-radius: 5%;
  }
}

.nav-link:hover > .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.nav-item:hover {
  border-radius: 25px;
  /* outline: 1px solid white; */
  box-shadow: rgba(235, 186, 52, 0.25) 0px 54px 55px, rgba(235, 186, 52, 0.12) 0px -12px 30px, rgba(235, 186, 52, 0.12) 0px 4px 6px, rgba(235, 186, 52, 0.17) 0px 12px 13px, rgba(235, 186, 52, 0.09) 0px -3px 5px;
}

